<a href="https://colab.research.google.com/github/ravelcezar/Aula-LPC1_Sub/blob/main/DESAFIOESTRUTURASEQUENCIAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#ETE PORTO DIGITAL 
#PROFESSOR: CLOVES ROCHA
#ALUNO: RAVEL CEZAR

print("ALÔ ETE PORTO DIGITAL")

ALÔ ETE PORTO DIGITAL

In [4]:
number = input("digite um número: ")
print("o numero informado foi: % s"% (number))

digite um número: 5
o numero informado foi: 5

In [6]:
number1 = int(input("Digite um número: "))
number2 = int(input("Digite um número: "))
print("soma dos números: ", (number1+number2))

Digite um número: 4
Digite um número: 5
soma dos números:  9

In [7]:

n1 = int(input("Digite a primeira nota: "))
n2 = int(input("Digite a segunda nota: "))
n3 = int(input("Digite a terceira nota: "))
n4 = int(input("Digite a quarta nota: "))
print("Média:", (n1+n2+n3+n4/4))

Digite a primeira nota: 6
Digite a segunda nota: 6
Digite a terceira nota: 5
Digite a quarta nota: 4
Média: 18.0

In [8]:
metroparacentimentro = float(input("Digite um número: "))
print("Coversão em centimetros: ", (metroparacentimentro*100))

Digite um número: 100
Coversão em centimetros:  10000.0

In [11]:
raiodocirculo = float(input("Digite o raio: "))
print("Área do circulo: ", (raiodocirculo*2*3*3.14))

Digite o raio: 7
Área do circulo:  131.88

In [13]:
areadoquadrado = float(input("Digite a altura do quadrado: "))
print("Área do quadrado: ", (areadoquadrado**2 * 2))

Digite a altura do quadrado: 4
Área do quadrado:  32.0

In [15]:
var1 = int(input("Quanto você ganha por hora: "))
var2 = int(input("Quantas horas você trabalha por mês: "))
print("Total do salário por mês: ", (var1*var2))

Quanto você ganha por hora: 45
Quantas horas você trabalha por mês: 45
Total do salário por mês:  2025

In [16]:
f = float(input("Temperatura para Fahrenheit: "))
print("Transforme  e mostrea temperatura em graus celsius: ", (5*((f-32) /9 )))

Temperatura para Fahrenheit: 5
Transforme  e mostrea temperatura em graus celsius:  -15.0

In [17]:
c =  float(input("Temperatura em graus celsius: "))
print("Transforme em Fahrenheit: ", (c*(9/5) + 32))

Temperatura em graus celsius: 8
Transforme em Fahrenheit:  46.4

In [22]:
var1 = int(input("Primeiro número inteiro: "))
var2 = int(input("Segundo número inteiro: "))
var3 = int(input("Número real: "))
print("Soma: ", (2 * var1) * (var2/2))
print("Produto: ", (3 * var1) + var3 )
print("Cubo: ", ( var3 ** 3))

Primeiro número inteiro: 4
Segundo número inteiro: 8
Número real: 9
Soma:  32.0
Produto:  21
Cubo:  729

In [25]:
altura = float(input("Altura: "))
print("Peso ideal: ", (72.7 * altura) - 58))

SyntaxError: ignored